*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

main {
    width: clamp(1px, 80%, 1400px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    width: clamp(900px, 80%, 1400px);
}

ul {
    list-style-type: none;
}