$rem-baseline: 16;

$home-bgcolor: #ffc0cb;
$white-border-color: #fff;
$grey-border-color: #DDDDDD;
$white-font-color: #fff;
$white-background-color: #FFF;
//
$white-background-color: #FFF;
$black-font-color: #0B132A;
// 
$very-light-grey-color: #DDDDDD;
$grey-font-color: #4F5665;
$light-grey-font-color: #AFB5C0;
$grey-background-color: #F8F8F8;
$dark-grey-background-color: #DDE0E4;
// 
$orange-box-shadow-color: rgba(245, 56, 56, 0.35);
$light-orange-background-color: #FFFAFA;
$light-orange-button-background-color:#F00;
$orange-background-color: #F53838;


