<section class="customers-reviews">
    <div class="reviews-intro">
        <h2>
            Trusted by Thousands of<br>Happy Customers
        </h2>
        <p>
            These are the stories of our customers who have joined us with great
            <br>
            pleasure when using this crazy feature.
        </div>
        <div class="customers-reviews__cards">
            <div class="review-card review-card--active">
                <div class="review-title">
                    <div class="review-title-container">
                        <div>
                            <img src="/assets/svg/reviews-images/img-1.svg">
                        </div>
                        <div class="review-author">
                            <h5>Viezh Robert</h5>
                            <p>Warsaw, Poland</p>
                        </div>
                    </div>
                    <div>
                        4.5
                        <img src="/assets/svg/reviews-images/star-img.svg">
                    </div>
                </div>
                <div class="review-description">
                    <p>
                        "Wow... I am very happy to use this VPN, it turned out to be more than my expectations and so far there have been no problems."<br>
                        LaslesVPN always the best"
                    </p>
                </div>
            </div>
            <div class="review-card review-card--active">
                <div class="review-title">
                    <div class="review-title-container">
                        <div>
                            <img src="/assets/svg/reviews-images/img-2.svg">
                        </div>
                        <div class="review-author">
                            <h5>Yessica Christy</h5>
                            <p>Shanxi, China</p>
                        </div>
                    </div>
                    <div>
                        4.5
                        <img src="/assets/svg/reviews-images/star-img.svg">
                    </div>
                </div>
                <div class="review-description">
                    <p>
                        "I like it because I like to travel far and still can connect with high speed."
                    </p>
                </div>
            </div>
            <div class="review-card review-card--active">
                <div class="review-title">
                    <div class="review-title-container">
                        <div>
                            <img src="/assets/svg/reviews-images/img-3.svg">
                        </div>
                        <div class="review-author">
                            <h5>Kim Young Jou</h5>
                            <p>Seoul, South Korea</p>
                        </div>
                    </div>
                    <div>
                        4.5
                        <img src="/assets/svg/reviews-images/star-img.svg">
                    </div>
                </div>
                <div class="review-description">
                    <p>
                        "This is very unusual for my business that currently requires a virtual private network that has high security."
                    </p>
                </div>
            </div>
        </div>
        <div class="customers-reviews__navigation">
            <div class="customers-reviews__navigation-container">
                <div>
                    <div class="nav-active-circle"></div>
                    <div class="nav-grey-cricle"></div>
                    <div class="nav-grey-cricle"></div>
                    <div class="nav-grey-cricle"></div>
                </div>
            </div>
            <div class="nav-arrows">
                <img src="/assets/svg/reviews-images/reviews-arrows/arrow-left.svg">
                <img src="/assets/svg/reviews-images/reviews-arrows/arrow-right.svg">
            </div>
        </div>
    </section>