<footer>
    <div class="footer__subscribe">
        <div class="footer__subscribe-container">
            <div>
                <h3>
                    Subscribe Now for<br> Get Special Features 
                </h3>
                <p>
                    Let's subscribe with us and find the fun.
                </p>
            </div>
            <div class="footer__subscribe-button">
                <button value="subscribe button">Subscribe Now</button>
            </div>
        </div>
    </div>
    <div class="footer-container">
        <div class="footer__left">
            <div class="footer__logo-description">
                <img src="/assets/svg/footer-icons/footer-logo.svg">
                <p>Lasles<strong>VPN</strong></p>
            </div>
            <div>
                <p><strong>LaslesVPN</strong> is a private virtual network that<br>
                has unique features and has high security.
            </div>
            <div class="footer__social-icons">
                <ul>
                    <li><img src="/assets/svg/footer-icons/facebook-footer-icon.svg"></li>
                    <li><img src="/assets/svg/footer-icons/twitter-footer-icon.svg"></li>
                    <li><img src="/assets/svg/footer-icons/instagram-footer-icon.svg"></li>
                </ul>
                <p>&copy;2020LaslesVPN</p>
            </div>
        </div>
        <div class="footer__right">
            <ul>
                <h4>Product</h4>
                <li>Download</li>
                <li>Pricing</li>
                <li>Locations</li>
                <li>Server</li>
                <li>Countries</li>
                <li>Blog</li>
            </ul>
            <ul>
                <h4>Engage</h4>
                <li>LaslesVPN ?</li>
                <li>FAQ</li>
                <li>Tutorials</li>
                <li>About Us</li>
                <li>Privacy Policy</li>
                <li>Terms of Service</li>
            </ul>
            <ul>
                <h4>Earn Money</h4>
                <li>Affiliate</li>
                <li>Become Partner</li>
            </ul>
        </div>
    </div>
</footer>