{% include '../../shared/header.njk' %}

<main>

{% include '../../../development/pages/home/feature.njk' %}

{% include '../../../development/pages/home/plan.njk' %}


{% include '../../../development/pages/home/map-section.njk' %}

{% include '../../../development/pages/home/customers-reviews-section.njk' %}

</main>

{% include '../../../development/pages/home/footer.njk' %}
