<section class="map-section">
<h2>Huge Global Network <br>of Fast VPN</h2>
<p>see <strong>LaslesVPN</strong> everywhere to make it easier for you when you move <br>locations.</p>

{% include "../../assets/svg/map.svg" %}

<div class="sponsers-icons-div">
    <img src="../development/assets/svg/sponser-icons/netflix.svg">
    <img src="../development/assets/svg/sponser-icons/reddit.svg">
    <img src="../development/assets/svg/sponser-icons/amazon.svg">
    <img src="../development/assets/svg/sponser-icons/discord.svg">
    <img src="../development/assets/svg/sponser-icons/spotify.svg">
</div>
</section>