<div class="plan">
        <div class="plan__content">
            <h2 class="plan__title">Choose Your Plan</h2>
    <p class="plan__paragraph">Let's choose the package that is best for you and explore it happily and cheerfully.</p>
        </div>
    <div class="plan__boxes">
        <div  class="plan__container plan__container--active">
            <div>
                <img class="plan__images" src="/assets/images/feature-section-images/Free.svg" alt="Free Plan photo">
             <h3 class="plan__names">Free Plan</h3>
             <ul class="plan__list">
                <li>Unlimited Bandwitch</li>
                <li>Encrypted Connection</li>
                <li>No Traffic Logs</li>
                <li>Works on All Devices</li>
             </ul>
            </div>
            <div  class="plan__prices" >
                <p class="free__price"><strong>Free</strong></p>
            </div>
            <div  class="plan__btn free__btn"><button>Select</button></div>
        </div>
        <div class="plan__container plan__container--active">
            <div>
                <img class="plan__images" src="/assets/images/feature-section-images/Standard.svg" alt="Standart Plan photo">
                <h3 class="plan__names">Standart Plan</h3>
                <ul class="plan__list">
                    <li>Unlimited Bandwitch</li>
                    <li>Encrypted Connection</li>
                    <li>No Traffic Logs</li>
                    <li>Works on All Devices</li>
                    <li>Connect Anyway</li>
                 </ul>
            </div>
            <div class="plan__prices">
                <p class="standart__price"><strong>$9 </strong>/ mo</p>
            </div>
            <div class="plan__btn"><button>Select</button></div>
        </div>
        <div class="plan__container plan__container--active">
            <div>
                <img class="plan__images" src="/assets/images/feature-section-images/Premium.svg" alt="PremiumPlan Photo">
                <h3 class="plan__names">Premium Plan</h3>
                <ul class="plan__list">
                    <li>Unlimited Bandwitch</li>
                    <li>Encrypted Connection</li>
                    <li>No Traffic Logs</li>
                    <li>Works on All Devices</li>
                    <li>Connect Anyway</li>
                    <li>Get New Features</li>
                 </ul>
            </div>
            <div class="plan__select">
                <div  class="plan__prices">
                    <p><strong>$12 </strong>/ mo</p>
                </div>
                <div  class="plan__btn"><button>Select</button></div>
            </div>
        </div>
    </div>
    </div>